<%layout('../templates/layoutOwner')%>
<script type="text/javascript" src="/angular_app/angular_app_owner.js"></script>
<div ng-app="myApp" ng-controller="APPController">




    <div class="block">
        <!-- Basic Form Elements Title -->
        <div class="block-title">
            <div class="block-options pull-right">

            </div>
            <h2><strong>Add new</strong> Manager</h2>
        </div>
        <!-- END Form Elements Title -->

        <!-- Basic Form Elements Content -->
        <form  action="/owner/addManager"   method="post"  class="form-horizontal form-bordered">

            <div class="form-group">
                <label class="col-md-1 control-label" for="example-text-input">First Name</label>
                <div class="col-md-10">
                    <input id="register-firstname" name="register-firstname" class="form-control" placeholder="..." type="text">
                    <span class="help-block">Please enter your first name</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="example-password-input">Last Name</label>
                <div class="col-md-10">
                    <input id="register-lastname" name="register-lastname" class="form-control" placeholder="..." type="text">
                    <span class="help-block">Please enter your last name</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="example-email-input">Email Input</label>
                <div class="col-md-10">
                    <input id="register-email" name="register-email" class="form-control" placeholder="Enter Email" type="email">
                    <span class="help-block">Please enter your email</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-1 control-label" for="example-select">Select</label>
                <div class="col-md-10">
                    <select id="hotelId" name="hotelId" class="form-control" size="1">
                        <option >Please select</option>
                        <option ng-repeat="hotel in hotelList" value="{{hotel.id}}" > {{hotel.name}} </option>
                    </select>
                </div>
            </div>

            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                </div>
            </div>
        </form>
        <!-- END Basic Form Elements Content -->
    </div>


</div>




