
<% layout('../templates/layoutOwner')%>

<script type="text/javascript" src="/angular_app/angular_app_owner.js"></script>
<div ng-app="myApp" ng-controller="APPController">
  <div class="content-header content-header-media">
    <div class="header-section">
      <div class="row">
        <!-- Main Title (hidden on small devices for the statistics to fit) -->
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
          <h1>Welcome <strong>admin</strong><br><small></small></h1>
        </div>
        <!-- END Main Title -->

        <!-- Top Stats -->
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>93</strong><br>
                <small><i class="fa fa-users"></i> Account</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>167</strong><br>
                <small><i class="fa fa-lock"></i> Locks</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>101</strong><br>
                <small><i class="fa fa-calendar-o"></i> Booking</small>
              </h2>
            </div>
            <!-- We hide the last stat to fit the other 3 on small devices -->
            <div class="col-sm-3 hidden-xs">
              <h2 class="animation-hatch">
                <strong>27° C</strong><br>
                <small><i class="fa fa-map-marker"></i> France</small>
              </h2>
            </div>
          </div>
        </div>
        <!-- END Top Stats -->
      </div>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
    <img src="img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
  </div>





</div>