
<% layout('../templates/layoutOwner')%>


<script type="text/javascript" src="/angular_app/angular_app_owner.js"></script>
<div ng-app="myApp" ng-controller="APPController">

    <div class="row">

        <div class="col-lg-4" ng-repeat="list in managerList track by $index">
            <!-- Edit Contact Block -->
            <div class="block">
                <!-- Edit Contact Title -->
                <div class="block-title">
                    <div class="block-options pull-right">

                    </div>
                    <h2><i class="fa fa-ticket"></i> {{list.first_name}}  {{list.last_name}}</h2>
                </div>
                <!-- END Edit Contact Title -->

                <!-- Edit Contact Content -->
                <form action="" method="post" class="form-horizontal form-bordered" onsubmit="return false;">

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-name">Name</label>
                        <div class="col-xs-9"  ng-repeat="hotel in hotelList">
                            <input id="edit-contact-name" name="edit-contact-name" ng-if="hotel.id == list.hotelId" class="form-control" value="{{hotel.name}}" placeholder="" type="text">
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-xs-12" >
                            <input  class="btn btn-info" id="" name="button" class="form-control" value="Show details" placeholder="" type="button"  >
                        </div>
                    </div>

                </form>
                <!-- END Edit Contact Content -->
            </div>

        </div>




    </div>




</div>