
<% layout('../templates/layoutAdmin')%>

<script type="text/javascript" src="/angular_app/angular_app.js"></script>
<div ng-app="myApp" ng-controller="APPController">
  <div class="content-header content-header-media">
    <div class="header-section">
      <div class="row">
        <!-- Main Title (hidden on small devices for the statistics to fit) -->
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
          <h1>Welcome <strong>admin</strong><br><small></small></h1>
        </div>
        <!-- END Main Title -->

        <!-- Top Stats -->
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>93</strong><br>
                <small><i class="fa fa-users"></i> Account</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>167</strong><br>
                <small><i class="fa fa-lock"></i> Locks</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>101</strong><br>
                <small><i class="fa fa-calendar-o"></i> Booking</small>
              </h2>
            </div>
            <!-- We hide the last stat to fit the other 3 on small devices -->
            <div class="col-sm-3 hidden-xs">
              <h2 class="animation-hatch">
                <strong>27° C</strong><br>
                <small><i class="fa fa-map-marker"></i> France</small>
              </h2>
            </div>
          </div>
        </div>
        <!-- END Top Stats -->
      </div>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
    <img src="img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
  </div>

  <div class="box span12">
    <div class="box-header" data-original-title="">
      <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
      <div class="box-icon">
        <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <div id="" class="dataTables" role="">

        <table class="table table-striped table-bordered" id="" >

          <thead>
          <td >

            <a class="btn btn-toolbar" href="/admin/add" >
              add new user
            </a>
          </td>
          <tr role="row">
            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 252px;">username</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 204px;">password</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 217px;">email</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 424px;">Actions</th>
          </tr>
          </thead>

          <tbody role="" aria-live="polite" aria-relevant="all" ng-repeat="person in listUser" contenteditable="false">

          <tr >

            <td >{{person.first_name}}</td>
            <td >{{person.last_name}}</td>
            <td >{{person.email}}</td>

            <td >

              <a class="btn btn-danger"  ng-click=delete(person) >
                <i class="halflings-icon white trash"></i>
              </a>

              <a class="btn btn-info"  ng-click=update(person) >
                <i class="halflings-icon white edit"></i>
              </a>
            </td>

          </tr>


          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div >
    <form id="formUpdate" style="visibility: hidden" class="form-inline">
      <fieldset>
        <div class="control-group">
          <label class="control-label alert-danger" for="focusedInput">username</label>
          <div class="controls">
            <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…" ng-model="user.username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label alert-danger" for="focusedInput">password</label>
          <div class="controls">
            <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…" ng-model="user.password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label alert-danger" for="focusedInput">email</label>
          <div class="controls">
            <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…" ng-model="user.email">
          </div>
        </div>


        <input type="button" value="valider" ng-click="ajouter(user)" class="btn btn-primary"  />
      </fieldset>
    </form>

  </div>




</div>