
<% layout('../templates/layoutAccount')%>


<script type="text/javascript" src="/angular_app/angular_account_app.js"></script>
<div ng-app="myApp" ng-controller="APPController">

    <div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Welcome <strong>{{user_info.first_name}}</strong><br><small></small></h1>
                </div>
                <!-- END Main Title -->

            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>


<div class="row" ng-cloak>
    <div ng-if="nbCheckedIn != 0" >
        <h2 style="margin-left: 20px">To Check <strong>reservation</strong> </h2><br>
   <div class="col-md-12">

    <div class="col-lg-4" ng-repeat="list in listReservation" ng-if="list.checkin == false">
        <!-- Edit Contact Block -->
        <div class="block">
            <!-- Edit Contact Title -->
            <div ng-if="list.checkin == false" class="block-title " >
                <div class="block-options pull-right">

                </div>
                <h2><i class="fa fa-ticket"></i> reservation     <a>{{list.ref}}</a> </h2><a href="javascript:void(0)" class="text-success msg-read-btn pull-right" title="Waiting to check"><i class="fa fa-circle"></i></a>
            </div>
            <div ng-if="list.checkin == true" class="block-title">
                <div class="block-options pull-right">

                </div>
                <h2><i class="fa fa-ticket"></i> reservation     <a>{{list.ref}}</a> </h2><a href="javascript:void(0)" class="text-muted msg-read-btn pull-right" title="Reservation already Checked"><i class="fa fa-circle"></i></a>
            </div>
            <!-- END Edit Contact Title -->

            <!-- Edit Contact Content -->
            <form action="" method="post" class="form-horizontal form-bordered" onsubmit="return false;">

                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-name">Hotel</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-name" name="edit-contact-name" ng-repeat="hotel in hotels" ng-if="hotel.id == list.hotel_id" class="form-control" value="{{hotel.name}}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-email">Location</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-email" name="edit-contact-email" class="form-control"ng-repeat="hotel in hotels" ng-if="hotel.id == list.hotel_id" value="{{hotel.location}}" placeholder="" type="text">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-phone">Start date</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.start_date | date :  'fullDate'}}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-phone">End date</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.end_date | date :  'fullDate' }}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-12" >
                        <input  class="btn btn-warning" id="" name="button" class="form-control"  ng-if="list.checkin == false && list.start_date > mfstDate" value="Check In" placeholder="" type="button" ng-click="show(list)" >
                        <input  class="btn btn-info" id="" name="button" class="form-control" ng-if="list.checkin == true " value="Show Details" placeholder="" type="button" ng-click="details(list)" >
                     <!--   <input  class="btn btn-info" id="" name="button" class="form-control" ng-if="list.checkin == true && list.start_date > mfstDate" value="Show Details" placeholder="" type="button"  >-->
                    </div>
                </div>

            </form>
            <!-- END Edit Contact Content -->
        </div>

    </div>






</div>
    </div>


    <br>
    <div ng-if="nbAlready !=0">
    <h2 style="margin-left: 20px">Already CheckedIn <strong>reservation</strong> </h2><br>
    <div class="col-lg-4" ng-repeat="list in listReservation" ng-if="list.checkin == true">
        <!-- Edit Contact Block -->
        <div class="block">
            <!-- Edit Contact Title -->
            <div ng-if="list.checkin == false" class="block-title " >
                <div class="block-options pull-right">

                </div>
                <h2><i class="fa fa-ticket"></i> reservation     <a>{{list.ref}}</a> </h2><a href="javascript:void(0)" class="text-success msg-read-btn pull-right" title="Waiting to check"><i class="fa fa-circle"></i></a>
            </div>
            <div ng-if="list.checkin == true" class="block-title">
                <div class="block-options pull-right">

                </div>
                <h2><i class="fa fa-ticket"></i> reservation     <a>{{list.ref}}</a> </h2><a href="javascript:void(0)" class="text-muted msg-read-btn pull-right" title="Reservation already Checked"><i class="fa fa-circle"></i></a>
            </div>
            <!-- END Edit Contact Title -->

            <!-- Edit Contact Content -->
            <form action="" method="post" class="form-horizontal form-bordered" onsubmit="return false;">

                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-name">Hotel</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-name" name="edit-contact-name" ng-repeat="hotel in hotels" ng-if="hotel.id == list.hotel_id" class="form-control" value="{{hotel.name}}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-email">Location</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-email" name="edit-contact-email" class="form-control"ng-repeat="hotel in hotels" ng-if="hotel.id == list.hotel_id" value="{{hotel.location}}" placeholder="" type="text">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-phone">Start date</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.start_date | date :  'fullDate'}}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="edit-contact-phone">End date</label>
                    <div class="col-xs-9">
                        <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.end_date | date :  'fullDate' }}" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-12" >
                        <input  class="btn btn-warning" id="" name="button" class="form-control"  ng-if="list.checkin == false && list.start_date > mfstDate" value="Check In" placeholder="" type="button" ng-click="show(list)" >
                        <input  class="btn btn-info" id="" name="button" class="form-control" ng-if="list.checkin == true " value="Show Details" placeholder="" type="button" ng-click="details(list)" >
                        <!--   <input  class="btn btn-info" id="" name="button" class="form-control" ng-if="list.checkin == true && list.start_date > mfstDate" value="Show Details" placeholder="" type="button"  >-->
                    </div>
                </div>

            </form>
            <!-- END Edit Contact Content -->
        </div>

    </div>
</div>
</div>
</div>






