
<% layout('templates/layout')%>

<script type="text/javascript" src="/angular_app/angular_app.js"></script>.

<div class="span1">

<div class="span10">
    <h2> erreur </h2>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table> <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>
    <table class="span12 offset9 " style="visibility: hidden">

    </table>













</div>

    </div>