
<% layout('../templates/layoutManager')%>



<script type="text/javascript" src="/angular_app/angular_manager_app.js"></script>
<div ng-app="Myapp" ng-controller="details"  ng-cloak>
<div class="row" id="first">

    <div class="col-md-12">
        <!-- Simple Team Widget -->
        <div class="widget">
            <div class="widget-simple text-center">

                <h4 class="widget-content">
                    <a href="" class="themed-color-flatie" >
                        <strong style="font-size: xx-large">{{account.first_name}} {{account.last_name}}</strong>

                        <div class="col-sm-6 col-lg-4 pull-right themed-background-dark-default" ng-click="go()">
                            <!-- Widget -->
                            <a href="" class="widget  themed-background-dark-default">
                                <div class="widget-simple">
                                    <div class="widget-icon pull-right themed-background-fire animation-fadeIn">
                                        <i class="gi gi-redo"></i>
                                    </div>
                                    <h3 class="widget-content text-left animation-pullDown">
                                         <strong>Confirm CheckIn</strong>
                                        <small> Click here To</small>
                                    </h3>
                                </div>
                            </a>
                            <!-- END Widget -->
                        </div>
                    </a>
                    <small  ng-repeat="hotel in hotels" ng-if="hotel.id== reservation.hotel_id">{{hotel.name}} Hotel</small>
                </h4>
            </div>
            <div class="widget-extra themed-background-dark-default">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <h3 class="widget-content-light">
                            <a href="javascript:void(0)" class="themed-color-flatie"><strong>{{reservation.companion_nb}}</strong></a><br>
                            <small>Companion</small>
                        </h3>
                    </div>
                    <div class="col-xs-4">
                        <h3 class="widget-content-light">
                            <a href="javascript:void(0)" class="themed-color-flatie"><strong>{{reservation.type_room}}</strong></a><br>
                            <small>Room Type</small>
                        </h3>
                    </div>
                    <div class="col-xs-4">
                        <h3 class="widget-content-light">
                            <a href="javascript:void(0)" class="themed-color-flatie"><strong>{{reservation.ref}}</strong></a><br>
                            <small>Reference</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Simple Team Widget -->
    </div>



<div class="col-md-4" >
    <div class="widget">
        <div class="widget-advanced widget-advanced-alt">
            <!-- Widget Header -->
            <div class="widget-header text-left">
                <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1200x150 pixels image -->
                <img src="{{picture}}" alt="background" class="widget-background animation-pulseSlow col-md-12">
               
            </div>
            <!-- END Widget Header -->

        </div>
    </div>


</div>


    <div class="col-md-4">
        <!-- Advanced Active Theme Color Widget Alternative -->
        <div class="widget">
            <div class="widget-advanced widget-advanced-alt">
                <!-- Widget Header -->
                <div class="widget-header text-center themed-background-dark">

                    <div class="widget-icon pull themed-background-fire animation-fadeIn">
                        <i class="gi gi-clock"></i>
                    </div>
                    <h4 class="widget-content-light">
                        <a href="page_ready_user_profile.html">{{reservation.start_date | date :"fullDate"}}</a><br>
                        <small><i class="gi gi-pin"></i> Start At</small>
                    </h4>
                </div>
                <!-- END Widget Header -->


            </div>
        </div>
        <!-- END Advanced Active Theme Color Widget Alternative -->
    </div>
    <div class="col-md-4">
        <!-- Advanced Active Theme Color Widget Alternative -->
        <div class="widget">
            <div class="widget-advanced widget-advanced-alt">
                <!-- Widget Header -->
                <div class="widget-header text-center themed-background-dark">

                    <div class="widget-icon pull themed-background-fire animation-fadeIn">
                        <i class="gi gi-clock"></i>
                    </div>
                    <h4 class="widget-content-light">
                        <a href="page_ready_user_profile.html">{{reservation.end_date | date :"fullDate"}}</a><br>
                        <small><i class="gi gi-pin"></i> End At</small>
                    </h4>
                </div>
                <!-- END Widget Header -->


            </div>
        </div>
        <!-- END Advanced Active Theme Color Widget Alternative -->
    </div>

    <h2 style="margin-left: 20px">Companion <strong>List</strong> </h2><br>
<div class="col-md-4 col-lg-12" ng-repeat="companion in companionList">

    <div class="widget" >
        <div class="widget-simple themed-background-dark">
            <div class="widget-icon pull-right themed-background-fire animation-fadeIn">
                <i class="gi gi-user"></i>
            </div>
            <h4 class="widget-content widget-content-light">
                <a href="#" class="themed-color-amethyst">
                    <strong>{{companion.first_name}} {{companion.last_name}}</strong>
                </a>
                <small>{{companion.email}}</small>
            </h4>
        </div>
    </div>



</div>








    </div>


<div class="row" id="second"  hidden  >

    <h2 style="margin-left: 20px">Available  <strong>{{reservation.type_room}}</strong>  Room</h2><br>

    <div class="col-md-12">
        <div class="widget">
            <div class="widget-extra themed-background-dark-default text-center" >
              <h3 class="widget-content-light"> Room <strong>Requirement :</strong></h3> <!-- <h4  class="widget-content-light">capacity :     Room Option : {{reservation.option_room}} </h4>-->


            </div>
            <div class="widget text-center col-md-6">
                <!-- Jquery Sparkline (initialized in js/pages/widgetsStats.js), for more examples you can check out http://omnipotent.net/jquery.sparkline/#s-about -->
                <div class="widget-simple">
                    <a href="javascript:void(0)" class="widget-icon pull-right themed-background">
                        <i class="gi gi-user"></i>
                    </a>
                    <h3 class="text-right animation-stretchRight pull-left">Capacity :<strong>{{reservation.companion_nb+1}}</strong></h3>
                </div>
            </div>
            <div class="widget  col-md-6 text-center">
                <!-- Jquery Sparkline (initialized in js/pages/widgetsStats.js), for more examples you can check out http://omnipotent.net/jquery.sparkline/#s-about -->
                <div class="widget-simple">
                    <a href="javascript:void(0)" class="widget-icon pull-right themed-background">
                        <i class="gi gi-book_open"></i>
                    </a>
                    <h3 class="text-right animation-stretchRight pull-left">option: <strong>{{reservation.option_room}}</strong></h3>
                </div>
            </div>

        </div>

    </div>


    <div ng-repeat="list in roomList" ng-if="list.disponibility==true">
    <div class="col-lg-4 col-md-6"  style="width:370px;" ng-repeat="typeR in roomType" ng-if="list.roomTypeId == typeR.id && typeR.type== reservation.type_room" >

        <div class="widget"  >
            <div class="widget-simple" ng-repeat="type in roomType" ng-if="list.roomTypeId == type.id " >
                <a ng-click="choice(list)" class="widget-icon pull-right themed-background">
                    <i id="{{'add'+list.id}}" class="gi gi-plus"></i>
                </a>
                <h4 class="widget-content" style="height: 120px;">
                    <a href="javascript:void(0)"><strong >{{type.type}}</strong> </a>
                    <small> <a href="javascript:void(0)">Capacity : {{list.bed_number}}</a></small><strong ng-model='room.roomNumber'> Room Number : {{list.room_number}}</strong>
                    <small ng-repeat="roomOp in allRoomOption"  ><h2 ng-repeat="n in options"   ng-if="list.id == roomOp.roomId && n.id == roomOp.optionId" class="label label-info" > {{n.description}} </h2></small>
                </h4>
            </div>
            <div class="widget-extra-full themed-background-dark"  >
                <!-- Carousel -->
                <!-- Wrapper for slides -->

                <div >
                    <img ng-src="{{list.picture_url}}"  alt="image"  height="188px"  width="99%" >
                </div>


                <!-- END Wrapper for slides -->

                <!-- Controls -->

                <!-- END Controls -->
            </div>
            <!-- END Carousel -->
        </div>
    </div>
    </div>




<div class="col-md-12">
    <!--<
        <a href="" class="widget  themed-background-dark-default">
            <div class="widget-simple">
                <div class="widget-icon pull-right themed-background-fire animation-fadeIn">
                    <i class="gi gi-redo"></i>
                </div>
                <h3 class="widget-content text-left animation-pullDown">
                    <strong>Confirm CheckIn</strong>
                    <small> Click here To</small>
                </h3>
            </div>
        </a>

    </div>-->
    <div id="confirm" class="col-sm-6 col-lg-12 themed-background-dark-default" ng-click="forward()" hidden>
        <!-- Widget -->
        <a href="" class="widget  themed-background-dark-default">
            <div class="widget-simple">
                <div class="widget-icon pull-right themed-background-fire animation-fadeIn">
                    <i class="gi gi-redo"></i>
                </div>
                <h3 class="widget-content text-left animation-pullDown">
                    <strong>Confirm affectation </strong>


                    <small> Click here To</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
</div>




</div>






</div>
