
<% layout('../templates/layout')%>

<script type="text/javascript" src="/angular_app/angular_app.js"></script>
<div ng-app="myApp" ng-controller="APPController">

<h2> welcome  manager</h2>



</div>