
<% layout('../templates/layoutManager')%>


<script type="text/javascript" src="/javascripts/iso-3166-country-codes-angular.js"></script>
<script type="text/javascript" src="/angular_app/angular_manager_app.js"></script>
<div ng-app="app" ng-controller="homePage">

    <div class="content-header content-header-media" >
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Welcome <strong>{{user_info.first_name}}</strong><br><small > <strong>{{hotel_info.name}}</strong> manager</small></h1>
                </div>
                <!-- END Main Title -->

                <!-- Top Stats -->
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>93</strong><br>
                                <small><i class="fa fa-users"></i> Account</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>167</strong><br>
                                <small><i class="fa fa-lock"></i> Locks</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>101</strong><br>
                                <small><i class="fa fa-calendar-o"></i> Booking</small>
                            </h2>
                        </div>
                        <!-- We hide the last stat to fit the other 3 on small devices -->
                        <div class="col-sm-3 hidden-xs">
                            <h2 class="animation-hatch">
                                <strong>27° C</strong><br>
                                <small><i class="fa fa-map-marker"></i> {{location| isoCountry}}</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- END Top Stats -->
            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="/img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>


    <div class="row">

        <div class="col-lg-4" ng-repeat="list in reservation">
            <!-- Edit Contact Block -->
            <div class="block">
                <!-- Edit Contact Title -->
                <div class="block-title">
                    <div class="block-options pull-right">

                    </div>
                    <h2><i class="fa fa-ticket"></i> reservation     <a>{{list.ref}}</a> </h2>
                </div>
                <!-- END Edit Contact Title -->

                <!-- Edit Contact Content -->
                <form action="" method="post" class="form-horizontal form-bordered" onsubmit="return false;">

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-email">Room type</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-email" name="edit-contact-email" class="form-control" value="{{list.type_room}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-email">Booked Room</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-email" name="edit-contact-email" class="form-control" value="{{list.room_nb}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-phone">Room option</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.option_room}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-phone">Start date</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.start_date | date :  'fullDate'}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-phone">End date</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.end_date | date :  'fullDate' }}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-12" >
                            <input  class="btn btn-info" id="" name="button" class="form-control" value="Show details" placeholder="" type="button"  >
                        </div>
                    </div>

                </form>
                <!-- END Edit Contact Content -->
            </div>

        </div>
    </div>

</div>



