<% layout('../templates/layout')%>

<script type="text/javascript" src="/angular_app/angular_manager_app.js" ></script>
<div ng-app="Myapp" ng-controller="profile">



    <div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Welcome <strong>{{user_info.first_name}}</strong><br><small>These are your information</small></h1>
                </div>
                <!-- END Main Title -->

            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="/img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>



<div class="content-float">


    <div class="block">
        <!-- Info Title -->
        <div class="block-title">
            <div class="block-options pull-right">

            </div>
            <h2>About <strong>{{user_info.first_name}} {{user_info.last_name}}</strong></h2>
        </div>
        <!-- END Info Title -->

        <!-- Info Content -->
        <table class="table table-borderless table-striped">
            <tbody>
            <tr>
                <td style="width: 20%;"><strong>First Name</strong></td>
                <td>{{user_info.first_name}} </td>
            </tr>
            <tr>
                <td style="width: 20%;"><strong>Last Name</strong></td>
                <td>{{user_info.last_name}} </td>
            </tr>

            <tr>
                <td style="width: 20%;"><strong>email</strong></td>
                <td ><a href="javascript:void(0)" id="link-register"><strong>{{user_info.email}} </strong></a></td>
            </tr>
            <tr>
                <td style="width: 20%;"><strong>address</strong></td>
                <td>{{user_info.address}} </td>
            </tr>
            <tr>
                <td style="width: 20%;"><strong>account created </strong></td>
                <td>{{user_info.createdAt | date:'medium'  }} </td>
            </tr>

            </tbody>
        </table>
        <!-- END Info Content -->
    </div>


</div>

    </div>