
<% layout('../templates/layoutManager')%>


<script type="text/javascript" src="/javascripts/iso-3166-country-codes-angular.js"></script>
<script type="text/javascript" src="/angular_app/angular_manager_app.js"></script>
<div ng-app="Myapp" ng-controller="room">



    <div class="row" ng-cloak>

        <!--<div class="col-lg-4" ng-repeat="list in roomList">

            <div class="block">

                <div class="block-title">
                    <div class="block-options pull-right">

                    </div>
                    <h2><i class="fa fa-ticket"></i> Room {{list.id}}</h2>
                </div>

                <form action="" method="post" class="form-horizontal form-bordered" onsubmit="return false;">

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-name">Type</label>
                        <div class="col-xs-9" ng-repeat="type in roomOptions" ng-if="list.roomTypeId == type.id" >
                            <input id="edit-contact-name" name="edit-contact-name" class="form-control" value="{{type.type}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-email">Description</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-email" name="edit-contact-email" class="form-control" value="{{list.description}}" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-phone">Capacity</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.bed_number}}" placeholder="" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="edit-contact-phone">lock</label>
                        <div class="col-xs-9">
                            <input id="edit-contact-phone" name="edit-contact-phone" class="form-control" value="{{list.lock_id}}" placeholder="" type="text">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-9">
                            <img ng-src="{{list.picture_url}}" alt="background" class="widget-background animation-pulseSlow">
                        </div>
                    </div>




                    <div class="form-group">

                        <div class="col-xs-12" >
                            <input  class="btn btn-info" id="" name="button" class="form-control" value="Show details" placeholder="" type="button"  >
                        </div>
                    </div>

                </form>

            </div>

        </div>-->





        <div class="col-lg-4 col-md-6" ng-repeat="list in roomList" style="width:370px;">

    <div class="widget" >
        <div class="widget-simple" ng-repeat="type in roomType" ng-if="list.roomTypeId == type.id" >
            <a href="javascript:void(0)" class="widget-icon pull-right themed-background">
                <i class="gi gi-picture"></i>
            </a>
            <h4 class="widget-content" style="height: 120px;">
                <a href="javascript:void(0)"><strong>{{type.type}}</strong> </a>
                <small> <a href="javascript:void(0)">Capacity : {{list.bed_number}}</a></small><strong> Room Number : {{list.room_number}}</strong>
                <small ng-repeat="roomOp in allRoomOption"  ><h2 ng-repeat="n in options"   ng-if="list.id == roomOp.roomId && n.id == roomOp.optionId" class="label label-info"> {{n.description}} </h2></small>
            </h4>
        </div>
        <div class="widget-extra-full themed-background-dark"  >
            <!-- Carousel -->
                <!-- Wrapper for slides -->

                    <div >
                        <img ng-src="{{list.picture_url}}"  alt="image"  height="188px" width="99%" >
                    </div>


                <!-- END Wrapper for slides -->

                <!-- Controls -->

                <!-- END Controls -->
            </div>
            <!-- END Carousel -->
        </div>
    </div>

</div>
    </div>


